.step {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.datecls {
  display: inline;
  background-color: black;
  color: aliceblue;
}
p,
span {
  font-size: 20px;
  font-weight: bold;
  color: rgb(27, 28, 29);
}
button {
  width: 50px;
  border-radius: 10px;
  font-size: 20px;
}
.inc {
  background-color: rgb(21, 154, 87);
  border: 1px solid green;
}
.dec {
  background-color: rgb(230, 157, 63);
  border: 1px solid rgb(186, 108, 7);
}
